.shopping-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Esto asegura que el contenedor ocupe al menos el 100% del viewport height */
  padding-bottom: 100px; /* Ajusta este valor según la altura de tu footer */
  box-sizing: border-box; /* Esto asegura que el padding se incluya en la altura */
}


.cart-title-shop {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-items-list-shop {
  margin-bottom: 20px;
}

.cart-item-shop {
  display: flex;
  justify-content: space-between;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  margin-bottom: 10px;
}

.item-name-shop {
  flex-grow: 1;
}

.buy-button-shop {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 8%;
  margin-bottom: 150px;
}

.buy-button-shop:hover {
  background-color: #353535;
}
