.RegisterPage-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh; /* Asegura que el contenedor tenga al menos el alto de la ventana */
  justify-content: space-between; /* Coloca el contenido en la parte superior e inferior */
}

  
  .titulo {
    font-size: 20px;
  }
  
  form {
    width: 300px;
    margin-top: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: -10px;
  }
  
  form input[type="text"],
  form input[type="password"],
  form input[type="email"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 10px; /* Reducir el espacio entre los input */
    border: 1px solid #ccc;
    border-radius: 0; /* Ajusta las esquinas a cuadradas */
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .botonInicioCrear {
    margin-top: 0;
    margin-bottom: 110px;
    width: 100%;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .botonInicio:hover {
    background-color: #000000;
  }
  
  .registro-link {
    margin-top: -30px;
  }
  
  .registro-link a {
    color: #000000;
    text-decoration: none;
  }
  
  .registro-link a:hover {
    text-decoration: underline;
  }
  